.recipe-card {
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.recipe-card:hover,
.recipe-card:focus {
    border-color: var(--bs-primary) !important;
    /* background: var(--bs-primary-bg-subtle) !important; */
    /* box-shadow: 0 0 0 0.25rem var(--bs-primary-bg-subtle) !important; */
    transform: scale(1.02);
}