@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar sticky-top" style="z-index: 500;">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <Footer/>
</div>
