.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    display: none;
}

.top-row {
    height: 3.875rem; /* 62px */
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.9rem;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        display: flex;
        align-items: center;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

/* sm: 575.98px)  */
/* md 767.98px)  */
/* lg  991.98px) */
/* xl  1199.98px)  */
/* xxl  1399.98px) */

/* Hide nav icons */
@media (max-width: 485.98px) {
    .navbar-collapse:not(.show) ::deep .nav-item {
        display: none !important;
    }
}

/* Show only nav icons */
/* Enable nav menu toggle */
@media (max-width: 767.98px) {
    .navbar-collapse:not(.show) {
        flex-basis: auto !important;
        order: 1 !important;
    }

    .navbar-collapse:not(.show) .collapse-text {
        display: none;
    }

    .navbar-collapse:not(.show) .show-row {
        flex-direction: row !important;
    }

    .col-pad .nav-item:first-of-type {
        padding-top: 1.5rem !important;
    }
    
    .col-pad .nav-item:last-of-type {
        padding-bottom: 0.5rem !important;
    }

    .navbar-toggler {
        display: block;
    }
}
