@using ucc.Components.Dropdown

<div class="top-row position-absolute w-100"></div>
<div class="navbar navbar-dark navbar-expand-md px-3">
    <div class="container-fluid p-0">
        <a class="navbar-brand ps-2" href="">UCC</a>

        <div class="navbar-collapse justify-content-center order-3 order-md-1 @ClassShow">
            <nav class="nav flex-column flex-md-row show-row justify-content-center gap-2 @ClassPolPad">
                <div class="nav-item" title="Home" @onclick="CloseNavMenu">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill" aria-hidden="true" style="font-size: 1.25rem;" />
                        <span class="collapse-text ms-2">Home</span>
                    </NavLink>
                </div>

                <div class="nav-item" title="Crafting Calculator" @onclick="CloseNavMenu">
                    <NavLink class="nav-link" href="crafting">
                        <i class="bi bi-calculator-fill" aria-hidden="true" style="font-size: 1.25rem;" />
                        <span class="collapse-text ms-2">Crafting Calculator</span>
                    </NavLink>
                </div>

                <div class="nav-item" title="Inventory" @onclick="CloseNavMenu">
                    <NavLink class="nav-link" href="inventory">
                        <i class="bi bi-box-seam-fill" aria-hidden="true" style="font-size: 1.25rem;" />
                        <span class="collapse-text ms-2">Inventory</span>
                    </NavLink>
                </div>

                <div class="nav-item" title="Settings" @onclick="CloseNavMenu">
                    <NavLink class="nav-link" href="settings">
                        <i class="bi bi-gear-fill" aria-hidden="true" style="font-size: 1.25rem;" />
                        <span class="collapse-text ms-2">Settings</span>
                    </NavLink>
                </div>
            </nav>
        </div>

        <div class="d-flex ps-3 gap-3 order-2">
            <ThemeDropdown cClass="btn-lg btn-outline-light border-0" />

            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? ClassShow => collapseNavMenu ? null : "show";
    private string? ClassPolPad => collapseNavMenu ? null : "col-pad";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseNavMenu() => collapseNavMenu = true;
}
