@namespace ucc.Components.BtnDelete

<div class="btn-container" style="@style">
    <button type="button" class="btn btn-sm rounded-3 @cClass" @onclick="@OnDeleteClicked" @onclick:stopPropagation
            style="width: @Size; height: @Size;" title="@Title">
        @if (!string.IsNullOrEmpty(ImgSrc))
        {
            <img src="icons/@ImgSrc" class="centered-icon" draggable="false" />
        }
        else
        {
            @ChildContent
        }
    </button>
</div>

@code {
    [Parameter] public string cClass { get; set; } = "btn-outline-danger";
    [Parameter] public string style { get; set; } = "";
    [Parameter] public string Size { get; set; } = "32px";
    [Parameter] public string ImgSrc { get; set; } = "";
    [Parameter] public string Title { get; set; } = "Delete";
    [Parameter] public EventCallback<string> OnDelete { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    private void OnDeleteClicked()
    {
        if (OnDelete.HasDelegate)
        {
            OnDelete.InvokeAsync();
        }
    }
}