.item-list {
    grid-template-columns: repeat(auto-fit, 80px);
    /* width: calc((80px + 0.5rem) * 4 + 1.875rem); */
    width: 375px;
    max-width: 100%;
    min-height: 185px;
    max-height: calc(95dvh - 140px);
    padding-left: 0.9375rem;
}
