@using System.Threading.Tasks
@using ucc.Components.Modal
@using ucc.Components.BtnAdd
@using ucc.Models
@using System.Linq

@namespace ucc.Components.Item

@inject ucc.Services.InventoryService IS
@inject IJSRuntime JS;

<div class="input-group input-group-sm">
    <input type="search" id="search-bar" value="@searchString" autofocus="true"
           class="input-group input-group-sm form-control form-control-lg rounded-1" @oninput="OnSearchChanged"
           placeholder="Search..." />

    <label for="search-bar">
        <img src="icons/search.svg" class="position-absolute top-50 start-0 translate-middle-y mx-2 search-icon"
             draggable="false">
    </label>

    @if (!string.IsNullOrEmpty(searchString))
    {
        <button type="button" class="position-absolute top-50 end-0 translate-middle-y btn btn-close btn-clear"
                @onclick="@(async () => { searchString = ""; await GrabFocus(); })"/>
    }
</div>

<div class="d-grid gap-2 py-3 px-2 overflow-scroll h-100 item-list">
    <div>
        <BtnAdd OnClicked="@(async () => { await modalItemAdd.OpenAsync(); })" style="max-height: 160px; height: 100%; width: 100%;" />
    </div>

    @foreach (Item item in filteredItems)
    {
        <ItemCard @key="item.Id" IconSize="80px" Item="item" OnItemClicked="@(async () => await ItemPicked(item.Id))" style="max-height: 160px;"/>
    }
</div>

<Modal @ref="modalItemAdd" Title="Add New Item">
    <div class="modal-body">
        <ItemForm OnItemAdded="OnNewItemAdded" />
    </div>
</Modal>

@code {
    [Parameter] public EventCallback<string> OnItemPicked { get; set; }

    private Modal modalItemAdd = null!;

    private string searchString { get; set; } = "";

    private List<Item> items = [];
    private IEnumerable<Item> filteredItems => items.Where(i => string.IsNullOrEmpty(searchString) ||
            i.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase));

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            items = IS.GetItems().Values.ToList();
            await GrabFocus();
            StateHasChanged();
        }
    }

    private async Task GrabFocus()
    {
        await JS.InvokeAsync<string>("focusElement", "search-bar");
    }

    private void OnSearchChanged(ChangeEventArgs e)
    {
        searchString = e.Value?.ToString() ?? string.Empty;
    }

    private async Task ItemPicked(string itemId)
    {
        if (OnItemPicked.HasDelegate)
        {
            await OnItemPicked.InvokeAsync(itemId);
        }
    }

    private async Task OnNewItemAdded(string itemId)
    {
        await modalItemAdd.CloseAsync();
        await ItemPicked(itemId);
    }
}