@using System.Threading.Tasks
@using ucc.Components.Modal
@using ucc.Components.BtnAdd
@using ucc.Components.Searchbar
@using ucc.Models

@namespace ucc.Components.Item

@inject ucc.Services.InventoryService IS

<div class="px-3">
    <Searchbar @ref="searchbar" OnSearch="DoSearch"></Searchbar>
</div>

<div class="d-grid gap-2 py-3 overflow-auto h-100 item-list">
    <div>
        <BtnAdd OnClicked="OpenItemAddModal" style="max-height: 160px; height: 100%; width: 100%;" />
    </div>

    @foreach (Item item in filteredItems)
    {
        <ItemCard @key="item.Id" IconSize="80px" Item="item" style="max-height: 160px;"
                  OnItemClicked="@(async () => await ItemPicked(item.Id))" />
    }
</div>

<Modal @ref="modalItemAdd" Title="Add New Item">
    <div class="modal-body">
        <ItemForm OnItemAdded="OnNewItemAdded" Item="modalItem" />
    </div>
</Modal>

@code {
    [Parameter] public EventCallback<string> OnItemPicked { get; set; }

    protected override void OnInitialized()
    {
        DoSearch("");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchbar.GrabFocus();
        }
    }

    private Searchbar searchbar = null!;
    private Modal modalItemAdd = null!;
    private Item modalItem = null!;
    private async Task OpenItemAddModal()
    {
        modalItem = new Item(searchbar.SearchString);
        await modalItemAdd.OpenAsync();
    }

    private IEnumerable<Item> filteredItems = [];
    private void DoSearch(string search)
    {
        filteredItems = IS.SearchItems(search);
    }

    private async Task ItemPicked(string itemId)
    {
        if (OnItemPicked.HasDelegate)
        {
            await OnItemPicked.InvokeAsync(itemId);
        }
    }

    private async Task OnNewItemAdded(string itemId)
    {
        await modalItemAdd.CloseAsync();
        await ItemPicked(itemId);
    }
}