@using System.Threading.Tasks

@namespace ucc.Components.Modal

@if (isVisible)
{
    <div class="modal modal-overlay" @onclick="OnBgClick" tabindex="-1">
        <div class="modal-container bg-body rounded-3 @(CanScroll ? "overflow-scroll" : "")" tabindex="0"
             @onkeydown="HandleKeyDown" @onkeydown:stopPropagation @onclick:stopPropagation @ref="reference">
            
            @if (IsTitleEnabled)
            {
                <div class="modal-header">
                    <h4 class="modal-title">@Title</h4>
                    @if (!IsRequired)
                    {
                        <button type="button" class="btn-close" aria-label="Close" @onclick="CloseAsync" />
                    }
                </div>
            }

            @ChildContent
        </div>
    </div>
}

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public bool CanScroll { get; set; } = true;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback OnOpen { get; set; }
    [Parameter] public bool IsRequired { get; set; } = false;
    [Parameter] public bool IsTitleEnabled { get; set; } = true;

    private bool isVisible { get; set; }
    private ElementReference reference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isVisible && firstRender)
        {
            await reference.FocusAsync();
        }
    }

    public async Task OpenAsync(string title = "")
    {
        if (isVisible)
            return;

        if (title != "")
        {
            Title = title;
        }

        isVisible = true;
        if (OnOpen.HasDelegate)
        {
            await OnOpen.InvokeAsync();
        }
    }

    public async Task CloseAsync()
    {
        if (!isVisible)
            return;

        isVisible = false;
        if (OnClose.HasDelegate)
        {
            await OnClose.InvokeAsync();
        }
    }

    private async Task OnBgClick()
    {
        if (IsRequired)
            return;

        await CloseAsync();
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (IsRequired)
            return;

        if (e.Key == "Escape")
        {
            await CloseAsync();
        }
    }
}