@using System.Reflection;
@using System.Text
@using System.Text.Json

@inject HttpClient Http

<div class="card border bg-body-tertiary border-secondary shadow-lg">
    <div class="card-body p-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                <h5 class="mb-1">Latest Release Notes</h5>
            </div>
            @if (!string.IsNullOrEmpty(ReleaseTag))
            {
                <span class="badge text-bg-info">
                    @if (!IsVersionsMatch())
                    {
                        <span class="bi bi-patch-exclamation-fill me-1" title="Update available!"
                              aria-label="Update available!"></span>
                    }
                    @ReleaseTag
                </span>
            }
        </div>

        @if (IsLoading)
        {
            <div class="text-secondary">
                <span class="spinner-border spinner-border-sm me-1" aria-hidden="true"></span>
                Loading release notes...
            </div>
        }
        else if (!string.IsNullOrWhiteSpace(Error))
        {
            <div class="alert alert-danger mb-0">@Error</div>
        }
        else
        {
            <div class="release-notes overflow-auto" style="max-height: 65dvh;">
                @if (string.IsNullOrEmpty(ReleaseBodyHtml))
                {
                    <p class="text-secondary mb-0">
                        No release notes available.
                    </p>
                }
                else
                {
                    @((MarkupString)ReleaseBodyHtml)
                }
            </div>
            <hr class="border-secondary mb-4" />
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div class="text-secondary small">Published</div>
                    <div class="fw-semibold">@PublishedAt</div>
                </div>

                <a href="@ReleaseUrl" class="btn btn-sm btn-outline-info" target="_blank">
                    View on GitHub
                </a>
            </div>
        }
    </div>
</div>

@code {
    private readonly string repo = "Pandora1337/ucc";
    private bool IsLoading = true;
    private string? Error;
    private string ReleaseTag = "";
    private string PublishedAt = "-";
    private string ReleaseUrl = "#";
    private string ReleaseBodyHtml = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Http.DefaultRequestHeaders.UserAgent.ParseAdd("BlazorWasmApp/1.0");
            Http.DefaultRequestHeaders.Accept.ParseAdd("application/vnd.github+json");

            var release = await Http.GetFromJsonAsync<GitHubRelease>($"https://api.github.com/repos/{repo}/releases/latest");

            if (release is null)
            {
                Error = "No release found.";
                return;
            }

            // Ask github to pretty please render the markdown as html for us
            // Also its ok to do it since if we are offline the req fails and doesnt try again
            var request = new HttpRequestMessage(HttpMethod.Post, "https://api.github.com/markdown")
            {
                Content = new StringContent(
                    JsonSerializer.Serialize(new
                    {
                        text = release.body,
                        mode = "gfm", // Allows to link issues like #53
                        context = repo
                    }),
                    Encoding.UTF8,
                    mediaType: "application/json")
            };

            ReleaseBodyHtml = await (await Http.SendAsync(request)).Content.ReadAsStringAsync();

            ReleaseTag = release.tag_name ?? "";
            PublishedAt = release.published_at?.ToString("hh:mm tt, dd/MM/yyyy") ?? "-";
            ReleaseUrl = release.html_url ?? "#";
        }
        catch
        {
            Error = "Unable to load release notes from GitHub.";
        }
        finally
        {
            IsLoading = false;
        }
    }

    private bool IsVersionsMatch()
    {
        string version = Assembly.GetExecutingAssembly().GetName().Version?.ToString() ?? "unknown";
        string[]? parts = version.Split('.');
        version = string.Join(".", parts.Take(3));
        return $"v{version}" == ReleaseTag;
    }

    private sealed class GitHubRelease
    {
        public string? tag_name { get; set; }
        public string? body { get; set; }
        public DateTimeOffset? published_at { get; set; }
        public string? html_url { get; set; }
    }
}