@implements IDisposable

@namespace ucc.Components.Tab

<div class="tab-pane @(IsActive ? "show active" : "")" id="@PanelId" role="tabpanel" aria-labelledby="@TabId"
     tabindex="0" aria-selected="@(IsActive)">

    @ChildContent
</div>

@code {
    [CascadingParameter] private TabList? Parent { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public bool Disabled { get; set; } = false;

    private bool IsActive => Parent?.ActiveTab == this;
    public string TabId { get; private set; } = $"tab-{Guid.NewGuid():N}";
    public string PanelId { get; private set; } = $"panel-{Guid.NewGuid():N}";

    protected override void OnInitialized()
    {
        Parent?.AddTab(this);
    }

    public void Dispose()
    {
        Parent?.RemoveTab(this);
    }
}